PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/printingPOS

EMAIL_USER=
EMAIL_PASS=

BUSINESS_NAME=Modify Printing

GCASH_NAME=
GCASH_NUMBER=

BPI_NAME=
BPI_ACCOUNT=

FB_PAGE=

ADMIN_PASSWORD=
JWT_SECRET=